  <h2>Detalhes do Objeto</h2>



{{#with detailsResult}}
<h2>{{name}}</h2>
<p><strong>Descrição:</strong>{{description}}</p>
<p><strong>Descrição:</strong>{{owner}}</p>
<p><strong>Descrição:</strong>{{owner.userName}}</p>
<p><strong>Descrição:</strong>{{owner.phoneNumber}}</p>
<p><strong>Descrição:</strong>{{owner.email}}</p>
{{!-- <a href="/to-borrow/{{_id}}/update">Editar</a>
<a href="/to-borrow/{{_id}}/delete">Delete</a> --}}
<a href="/">Home</a>
{{/with}}