  <h2>Detalhes do Objeto:</h2>


{{!-- {{#with detailsResult}}
<h2>{{name}}</h2>
<p><strong>Descrição:</strong>{{description}}</p>
<p><strong>Nome:</strong>{{owner.userName}}</p>
<p><strong>Telefone:</strong>{{owner.phoneNumber}}</p>
<p><strong>email:</strong>{{owner.email}}</p>
{{!-- <a href="/to-borrow/{{_id}}/update">Editar</a>
<a href="/to-borrow/{{_id}}/delete">Delete</a> --}}
{{!-- <a href="/profile">Perfil</a> --}}
{{!-- {{/with}} --}}

{{#with detailsResult}}
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
      <p class="card-text">{{description}}</p>
      <p class="card-text">{{owner.userName}}</p>
      <p class="card-text">{{owner.phoneNumber}}</p>
      <p class="card-text">{{owner.email}}</p>
      <a href="#" class="btn btn-primary">Voltar</a>
  </div>
</div>
{{/with}}
