  <h2>Detalhes do Objeto</h2>

{{#with detailsResult}}
<h2>{{name}}</h2>
<p><strong>Descrição:</strong>{{description}}</p>
<p><strong>Nome:</strong>{{owner.userName}}</p>
<p><strong>Telefone:</strong>{{owner.phoneNumber}}</p>
<p><strong>email:</strong>{{owner.email}}</p>
{{!-- <a href="/to-borrow/{{_id}}/update">Editar</a>
<a href="/to-borrow/{{_id}}/delete">Delete</a> --}}
<a href="/profile">Perfil</a>
{{/with}}
{{!-- 
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> --}}