  <h2>Coisas a emprestar</h2>



<div>
{{#each toBorrowList}}
<h2>{{name}}</h2>
<p><strong>Descrição:</strong>{{description}}</p>
<p><strong>Localização:</strong> {{owner.neighbourhood}} </p>
<a href="/to-borrow/{{_id}}/update">Editar</a>
<a href="/to-borrow/{{_id}}/delete">Delete</a>
{{/each}}

</div>

