

<h1 class="text-center mt-5">Resultados para Pesquisa </h1>
<div>
<a class="btn btn-primary offset-10" href="/user-borrows">Meus Anúncios</a>
</div>
<hr width=100% align=center>

<div class="row ml-5">
{{#each result}}
<div class="card col-6 col-sm-3 mb-3 mr-2" style="width: 18rem;">
  <img class="card-img-top "src="{{photo}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
    <span class="card-text">{{owner.neighbourhood}}</span>
    <br>
    <a href="/details/{{id}}" class="btn btn-primary mt-3">Detalhes</a>
  </div>
</div>
{{/each}}
</div>
</div>
<img id="skyline"src="images/skyline.png" alt="">
</div>



{{!-- <h1 class="text-center mt-5">Resultados para {{#each result}} {{name}} {{/each}} </h1> --}}

{

{{!-- 
//comparação 

{{#with detailsResult}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top "src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
      <p class="card-text">{{description}}</p>
      <p class="card-text">{{owner.userName}}</p>
      <p class="card-text">{{owner.phoneNumber}}</p>
      <p class="card-text">{{owner.email}}</p>
      <a href="#" class="btn btn-primary">Voltar</a>
  </div>
</div>
{{/with}} --}}
