
  <h2>Resultado de Busca</h2>

{{#each toBorrowList}}
<h2>{{name}}</h2>
<p><strong>Descrição:</strong>{{description}}</p>
<p><strong>Localização:</strong> {{location}} </p>

<form action="/details/{{_id}}" method="GET">
 <button type="submit">Visualizar</button>
</form>



{{!-- <a href="/details/{{_id}}">Visualizar</a> --}}
{{/each}}